@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Our privacy policy states that your data won't be shared with any third parties. Customer's data are kept safe and secure.</p>
